# Backend environment and dependencies
backend/.env
backend/node_modules

# Frontend dependencies and build files
frontend/**/node_modules
frontend/**/dist
frontend/**/vite.config.js.timestamp*

# System files
.DS_Store
Thumbs.db
frontend/3askar/.env